<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="key" value="01D2B43B4F0A6F605EAA670B7D2A0AB4E3B892776884D3EB72E2908AF01A7531"/>
    <add key="vector" value="6F343A259063F7A1BCB124DCD75760D3"/>
  </appSettings>
</configuration>